@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-face {
    font-family: 'Lato Hairline';
    src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/latohairline.woff2') format('woff2'), url('../fonts/latohairline.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('../fonts/latohairlineitalic.woff2') format('woff2'), url('../fonts/latohairlineitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

body{
	font: 14px/2.14 'Lato', sans-serif; 
	color: #444;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6{
	margin: 0 0 30px;
	line-height: 1.2;
}

p{
	margin: 0 0 20px;
	
}

/* a{
	text-decoration: #e71cb4;
} */
a:hover{
	color: #444;
}


/* Layout */
.ba-container{
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1220px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-intro{
	background: #444 url(../img/main_image.jpg) no-repeat 50%;
	background-size: cover;
	color: #fff;
}

.ba-intro-inner{
	
	padding: 100px 0;
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 30px;
}


.ba-header{
	padding-top: 20px;
	position: fixed;
	z-index: 2; 
	left: 0;
	top: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
}

.ba-tnr36{
	margin-top: 80px;
	
	font-family: 'Times New Roman';
color: #ffffff;
font-size: 36px;
font-weight: 700;
font-style: italic;
letter-spacing: 1.8px;
line-height: 30px;
/* text-align: left; */
text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
}

.ba-intro-reward {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.ba-header-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-top: 33px; */
	box-sizing: border-box;
}

.ba-menu{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}


.ba-menu li{
	padding-left: 33px;
	line-height: 1;
}


.ba-menu a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	letter-spacing: -0.018em;
}

/* 
.ba-menu a:hover{
	color: #e71cb4; 
} */

.ba-page-title{
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 0.025em;
	margin-bottom: 15px;
}

h1{
	font-size: 100px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
}

.ba-section-title{
	margin-bottom: 20px;
}

.ba-text{
	font-family: Lato;
	color:  #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: 0.046em;
    line-height: 1.6;
}

.ba-section-title{
	position: relative;
	padding-top: 5px;
	font-size: 18px;
	letter-spacing: 0.034em;

}
.ba-section-title::after {
	position: absolute;
    content: '';
    width: 90px;
    height: 1px;
    background-color: #F38377;
    position: absolute;
    top: 40px;
    left: 2px;
    right: 0;
    bottom: 0;
    margin: auto;
}


.ba-description-inner{
	display: flex;
	flex-direction: row;
	align-items: center; 
	}

.ba-description-item{
	width: 33.33%;
    text-align: center;
    /* padding-left: 50px; */
	
}

.ba-description{
	padding: 100px 0;
}


.ba-button-hollow{
	font-size: 17.85px;
	color: #fff;
	border: 2px solid #ddd;
	border-radius: 2px;
	font-weight: 700;
	padding: 8px 79px;
	letter-spacing: 0.02em;
	/* margin-top: 43px; */
	margin-bottom: 36px;
	text-decoration: none;


}

.ba-introduction{
	background-color: #f7f7f7;
}


.ba-introduction-inner{
	display: flex;
	padding-top: 80px;
}

.ba-introduction-text{
	padding-top: 76px;
	padding-left: 32px;
}

.introduction-text{
	margin-bottom: 16px;
	font-size: 18px;
	letter-spacing: 0.034em;
	position: relative;
	/* padding-top: 75px; */
}

.introduction-text:after{
	position: absolute;
    content: '';
    width: 90px;
    height: 1px;
    background-color: #F38377;
    position: absolute;
    top: 34px;
    left: 2px;
   
    bottom: 0;
    margin: auto;
}
.ba-introduction-text > p {
	line-height: 1.7;
	padding-bottom: 4px;
}

.ba-introduction-store > img{
	padding-right: 10px;
}

.ba-review{
	background: #444 url(../img/bg2.jpg) no-repeat 50%;
	background-size: cover;
	color: #fff;
	font-family: 'Lato Hairline', sans-serif;
	font-size: 28px;
	letter-spacing: 0.008em;
	margin-bottom: 15px;
}

.ba-user-review{
	border: grey 1px solid;
	border-radius: 50%;
}












.ba-food {
    text-align: center;
    padding: 97px 0 0;
}

.ba-food .ba-section-title {
    margin-bottom: 47px;
}

.ba-food .ba-section-title::after {
    top: 35px;
}

.ba-food-inner {
    display: flex;
    flex-wrap: wrap;
}

.ba-food-item {
    width: 20%;
}

.ba-food-item a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.ba-food-item a img {    
    width: 100%;
    display: block;
}

.ba-food-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ba-food-item p {
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    padding-top: 8px;
	z-index: 1;
	color: #fff;
}

.ba-food-item h3 {
    font-size: 36px;
    letter-spacing: 0.06em;
    text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	z-index: 1;
	color: #fff;
}






.ba-features {
	padding: 46px 0 37px;
	color: black;
}

.ba-features-inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ba-features-inner p {
    letter-spacing: 0.055em;
}

.ba-number {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -3px;
}

footer {
    background-color: #F4F4F4;
    color: rgba(139, 139, 139, 0.5);
    border-top: 1px solid #E9E9E9;
    padding: 37px 0 14px;
    font-size: 14px;
}

.ba-footer-inner {
    display: flex;
    justify-content: space-between;
}

.ba-design {
    color: #8b8b8b;
    letter-spacing: 0.175em;
}

.ba-design a {
    color: #000;
    margin-left: 10px;
    font-weight: 700;
}